<%= render "shared/header"%>
<%= render "devise/shared/alerts"%>
<div class="container">
    <br><br><br>
    <div class="row justify-content-center mt-4">
        <div class="col-6 ">
            <div class="card text-center">
                <div class="card-header h4">
                    <b>Register</b>
                </div>
                <div class="card-body">
                    <div>
                        
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                          <br>
                          <div class="form-floating mb-3">
                            <%= f.text_field :name, type: "text",  class:"form-control", id:"floatingInputName", placeholder:"Enter your name" %>
                            <%= f.label :name, for:"floatingInputName" %>
                          </div>
                          
                          <div class="form-floating mb-3">
                            <%= f.email_field :email, type: "email",  class:"form-control", id:"floatingInputEmail", placeholder:"name@example.com" %>
                            <%= f.label :email, for:"floatingInputEmail" %>
                          </div>

                          <div class="form-floating mb-3">
                            <%= f.email_field :password, type: "password",  class:"form-control", id:"floatingPassword", placeholder:"Password" %>
                            <%= f.label :password, for:"floatingPassword"%>                            
                          </div>

                          <div class="form-floating mb-3">
                            <%= f.email_field :password_confirmation, type: "password",  class:"form-control", id:"floatingPasswordConfirm", placeholder:"Confirm Password" %>
                            <%= f.label :password_confirmation, for:"floatingPasswordConfirm" %>
                          </div>

                          <div class="actions">
                            <%= f.submit "Sign up", class:"btn btn-primary col-4" %>
                          </div>
                                                
                        <% end %>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    Already have an Account? 
                    <%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
-->

