<%= render "shared/header"%>

<div class="container">
    <%= render "shared/form_errors", resource: @role_user %>
    <div class="row justify-content-center mt-4">
        <div class="col-8">
            <div class="card text-center">
                <div class="card-header h4">
                    <b>Assign Role</b>
                </div>
                <div class="card-body">
                    <%= form_with model: @role_user, url: { action: :create } do |f| %>
                        <%= f.select :user_id, @users.map { |t| [ t.name, t.id ]}, {prompt: "Select User"} ,class:"form-select form-select-lg col- mb-3" %>
                        <%= f.select :role_id, @roles.map { |t| [ t.name, t.id ]}, {prompt: "Select Role"} ,class:"form-select form-select-lg col- mb-3" %>
                        <div class="justify-content-center">
                            <%= f.submit "Assign", class:"btn btn-primary col-5 ms-4 me-4" %>
                            <%= link_to "Back", contentcreator_dashboard_path, class:"btn btn-secondary col-5" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>